.App {
  text-align: center;
}

.picture {
  height: 300px;
  width: auto;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 30%;
  justify-content: space-between;
  justify-content: space-around;
}

header {
  background-color: rgb(195, 58, 28);
}

footer {
  background-color: rgb(195, 58, 28);
}
